// colors
$--color-gray-background: #fafafa;
$--color-blue-link-active: #0095F6;
$--color-blue-facebook: #385085;
$--color-blue-forgotten: #01376A;
$--color-black-text: #262626;
// $--color-gray-input-background: #FAFAFA;
$--color-gray-or-text: #8F8F8F;
$--color-gray-input-text: #eee;
$--color-blue-login-inactive: #C0DFFD;
$--color-white: #FFF;
$--color-black: #000;
$--color-gray-home-input: #efefef;



